<form #f="ngForm" (ngSubmit)="createNotice(f)">
    <table class="ucp"><tbody>
        <tr>
            <td>Access Level</td>
                <td>
                    <p-dropdown
                        [style]="{'width': '250px'}"
                        name="type"
                        [options]="AUTH_LEVELS_ITEMS"
                        ngModel
                    ></p-dropdown>
                </td>
            </tr>
        <tr>
            <td>Message (EN)</td>
            <td>
                <!-- <input
                    required
                    class="form-control input-text"
                    pInputText
                    type="text"
                    name="messageEn"
                    style="width: 100%"
                    ngModel
                > -->
                <textarea 
                    required
                    pInputTextarea
                    class="form-control input-text"
                    name="messageEn"
                    style="width: 100%"
                    ngModel                    
                ></textarea>
            </td>
        </tr>
        <tr>
            <td>Message (KN)</td>
            <td>
                <textarea 
                    required
                    pInputTextarea
                    class="form-control input-text"
                    name="messageKn"
                    style="width: 100%"
                    ngModel                    
                ></textarea>
            </td>
        </tr>
        <tr>
            <td>Version Limit</td>
            <td>
                <input
                    required
                    class="form-control input-text"
                    pInputText
                    type="text"
                    name="versionLimit"
                    style="width: 100%"
                    pattern="[0-9]+\.[0-9]+\.[0-9]+"
                    ngModel
                >                
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button
                    [disabled]="f.invalid || working"
                    pButton
                    submit
                    style="float: right;"
                    type="submit"
                    label="Submit"
                    
                >
                </button>
            </td>
        </tr>
    </tbody></table>
</form>
