<app-page-header
    pageName="App Stats"
    [placeholder]=false
    icon="fa fa-line-chart"
>
    <span toolbar>
        <button pButton
            label="Refresh"
            icon = "fa-refresh"
            (click)="load()"
        >
        </button>
    </span>
</app-page-header> 

<div class="ui-g ui-fluid" *ngIf="stats">
    <div *ngFor="let i of RECENT_INFO" class="ui-g-3">
        <p-card [title]="i.name">
            <div class="ui-g">
                <div class="ui-g-2"></div>
                <div class="ui-g-4 day">Today</div>
                <div class="ui-g-4 day">Yesterday</div>
                <div class="ui-g-2"></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-2"></div>
                <div class="ui-g-4 count">{{stats["today"][i.id]}}</div>
                <div class="ui-g-4 count">{{stats["yesterday"][i.id]}}</div>
                <div class="ui-g-2"></div>
            </div>
        </p-card>
    </div>
</div>
<p></p>
<div class="ui-g ui-fluid">
    <div class="ui-g-1"></div>
    <div class="ui-g-5">
        <p-selectButton 
            [options]="CHARTS" 
            [(ngModel)]="chartID" 
            (onChange)="loadChart()"
        ></p-selectButton>
    </div> 
    <div class="ui-g-1"></div>
    <div class="ui-g-4">
        <p-selectButton 
            [options]="DAYS" 
            [(ngModel)]="days" 
            (onChange)="loadChart()"
        ></p-selectButton>
    </div>
    <div class="ui-g-1"></div>
</div>
<div class="ui-g" *ngIf="!loading">
    <div class="ui-g-1"></div>
    <div class="ui-g-10" style="height: 90%;">
        <app-chart-table
            [stat]="chartStat"
            [chartType]="getChartType(chartStat?.type)"
        >
        </app-chart-table>
    </div>
    <div class="ui-g-1"></div>
</div>

<div class="ui-g" *ngIf="loading">
    <div class="ui-g-4">
        <div style="height: 90%; vertical-align: middle;">
            Loading...
        </div>
    </div>
</div>
