<p-table
    [columns]="specs"
    [value]="items"
    [selectionMode]="selectionMode"
    ([selection])="selection"
    [dataKey]="key"
    (selectionChange)="onSelect()"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns"
                [ngStyle]="{'width': col.width}"
                class="header"
                pResizableColumn>
                {{col.title}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.type">
                <span *ngSwitchCase="'value'">
                    {{item[col.field]}}
                </span>
                <span *ngSwitchCase="'arrayLength'">
                    {{item[col.field].length}}
                </span>
                <span *ngSwitchCase="'mapLength'">
                    {{numProps(item[col.field])}}
                </span>
                <span *ngSwitchCase="'date'">
                    {{item[col.field] | date: 'dd MMM yyyy HH:mm:ss'}}
                </span>
                <span *ngSwitchCase="'custom'">
                    {{col.valueGetter ? col.valueGetter(item)
                                      : item[col.field]
                    }}
                </span>
                <span *ngSwitchCase="'boolean'" class="bool">
                    <span *ngIf="item[col.field]; else fls">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        TRUE
                    </span>
                    <ng-template #fls>
                        <i class="fa fa-times" aria-hidden="false"></i>
                        FALSE
                    </ng-template>
                </span>
                <span *ngSwitchCase="'array'">
                    <span *ngFor="let cmp of item[col.field]; let i = index">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"
                           *ngIf="i < item[col.field].length - 1"
                        ></i>
                        {{cmp}}
                    </span>
                </span>
                <span *ngSwitchCase="'ops'">
                    <span *ngFor="let ca of col.actions">
                        <button
                            pTooltip="{{ca.toolTip}}"
                            showDelay="100"
                            pButton
                            [icon]="ca.icon"
                            (click)="ca.action(item)"
                        ></button>
                    </span>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
