<app-page-header
    pageName="Agent List"
    [placeholder]="false"
    icon="fa fa-th-list"
>
    List of entities
    <span toolbar>
        <span style="padding-right: 15px">
            <p-checkbox
                binary="true"
                label="Filters"
                [(ngModel)]="showFilter"
            ></p-checkbox>
        </span>
        <button pButton
            label="Create Agent"
            icon = "fa-plus"
            (click)="showCreateDialog = true"
        >
        </button>
        <button pButton
            label="Refresh"
            icon = "fa-refresh"
            (click)="ftable?.refreshAll()"
        >
        </button>
    </span>
</app-page-header>
<app-filtered-table
    [colspec]="COLSPEC"
    [fspec]="FSPEC"
    [showFilter]="showFilter"
    sortField="-createdAt"
    [dataType]="dataType"
>
</app-filtered-table>
<p-dialog
    [style]="{'overflow': 'visible'}"
    header="Create Agent"
    [(visible)]="showCreateDialog"
    [modal]=true
>
    <app-agent-create
        (done)="onAgentCreate($event)"
    ></app-agent-create>
</p-dialog>

<p-dialog
    [style]="{'overflow': 'visible'}"
    header="Agent Auth Secret"
    [(visible)]="showSecret"
    [modal]=true
>
    <div style="padding: 5px; word-wrap: normal; margin-bottom: 10px;">
        Use the below text as entity secret. If you forget this you'll will
        have to regenerate the secret.
    </div>
    <input
        style="width: 94%;"
        class="monospace"
        pTextInput
        [disabled]="true"
        [ngModel]="secret"
        type="text"
    >
    <button
        pButton
        icon="fa-copy"
        pTooltip="Copy secret"
    ></button>
    <p-footer>
        <button
            pButton
            style="float: right;"
            label="Ok"
            (click)="secret = ''; showSecret = false;"
        ></button>
    </p-footer>
</p-dialog>

