.obj-trees-label{
    font-weight: bold;
    color: #9ed6eb;
    /* font-size: 15px; */
    padding-right: 6px;
}

.obj-trees-data{
    font-style: normal;
    color: white;
    /* font-size: 13px; */
}

