<app-page-header
    pageName="Server Info"
    [placeholder]=false
    icon="fa fa-server"
>
    <span message>
        <!-- Calculated on {{}} -->
    </span>
    <span toolbar>
        <button pButton
            label="Refresh"
            icon = "fa fa-refresh"
            (click)="load()"
        >
        </button>
        <span style="padding-left: 20px"></span>
        Auto refresh at: 
        <span style="padding-left: 5px"></span>
        <p-dropdown
          [options]="repeatOpts"
          [(ngModel)]="repeatMs"
        ></p-dropdown>
        <span style="padding-left: 10px"></span>
        <p-toggleButton 
          onLabel="Stop"
          offLabel="Start"
          [(ngModel)]="repeat"
          (onChange)="repeatChanged()"
        ></p-toggleButton>
    </span>
</app-page-header> 


<div class="ui-g">
  <div class="ui-g-6">
      <div class="holder">
        <div class="ui-g header">
          <span class="heading">
              CPU Usage -- {{cpuUsage[cpuUsage.length - 1]}}%
          </span>
        </div>
      </div>
      <div class="content">
        <p-chart type="line" [data]="cpuChart" [options]="cpuOpts"></p-chart>
      </div>
  </div>
  <div class="ui-g-6">
      <div class="holder">
        <div class="ui-g header">
          <span class="heading">
              Memory Usage -- {{memoryUsage[memoryUsage.length - 1]}} MB
          </span>
        </div>
      </div>
      <div class="content">
        <p-chart type="line" [data]="memChart" [options]="memOpts"></p-chart>
      </div>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-4" *ngFor="let d of disks">
    <div class="holder">
        <div class="ui-g header">
        </div>
        <span class="heading">
          {{ d['name'] }}
        </span>
        </div>
        <div class="content">
            <p-chart type="doughnut" [data]="d" [options]="pieOpts"></p-chart>
        </div>
    </div>
</div>
    
<p></p>
