<app-page-header
    pageName="Server Info"
    [placeholder]=false
    icon="fa fa-server"
>
    <span message>
        <!-- Calculated on {{}} -->
    </span>
    <span toolbar>
        <button pButton
            label="Refresh"
            icon = "fa fa-refresh"
            (click)="load()"
        >
        </button>
        <span style="padding-left: 10px"></span>
        <p-checkbox 
          label="Realtime"
          [(ngModel)]="repeat"
          binary="true"
          (onChange)="repeatChanged()"
        ></p-checkbox>
    </span>
</app-page-header> 

<!-- {{ systemStats | json }} -->

<div class="ui-g">
  <div class="ui-g-6">
    <p-chart type="line" [data]="cpuChart" [options]="options"></p-chart>
  </div>
  <div class="ui-g-6">
      <p-chart type="line" [data]="memChart" [options]="options"></p-chart>
  </div>
</div>

<!-- <app-object
  [object]="systemStats"
></app-object> -->