<app-page-header
    pageName="Notices"
    [placeholder]="false"
    icon="fa fa-mobile"
>
    <span toolbar>
        <span style="padding-right: 15px">
            <p-checkbox
                binary="true"
                label="Filters"
                [(ngModel)]="showFilter"
            ></p-checkbox>
        </span>
        <button pButton
            label="Create Notice"
            icon = "fa-plus"
            (click)="showCreateDialog = true"
        >
        </button>
        <button pButton
            label="Refresh"
            icon = "fa-refresh"
            (click)="ftable?.refreshAll()"
        >
        </button>
    </span>
</app-page-header>
<app-filtered-table
    [colspec]="COLSPEC"
    [fspec]="FSPEC"
    [showFilter]="showFilter"
    sortField="-time"
    [dataType]="dataType"
>
</app-filtered-table>

<p-dialog
    [style]="{'overflow': 'visible'}"
    header="Create Notice"
    [(visible)]="showCreateDialog"
    [modal]=true
>
    <app-notice-create
        (onFinished)="onCreateDone()"
    ></app-notice-create>
</p-dialog>
