<app-page-header
    pageName="Events"
    [placeholder]=false
>
    <span>
        View and analyze events
    </span>
    <span toolbar>
        <p-checkbox
            binary="true"
            label="Show Filters"
            [(ngModel)]="showFilter"
        ></p-checkbox>
    </span>
</app-page-header>
<app-filter-page [filterVisible]="showFilter">
    <div filter>
        <app-filter
            [desc]="filterDesc"
            (onChange)="filterChanged($event)"
        ></app-filter>
    </div>
    <div content>
        <p-paginator
            [rows]=ENTRIES_PER_PAGE
            [totalRecords]=total
            [pageLinkSize]="PAGE_SHOWN"
            (onPageChange)="paginate($event)"
        ></p-paginator>
        <p-dataTable [value]="events">
            <p-column
                field="op"
                header="Operation"
            >
            </p-column>
            <p-column
                field="user"
                header="User"
            >
            </p-column>
            <p-column
                field="success"
                header="Success"
            >
                <ng-template let-data="rowData" pTemplate="body">
                    {{data.success ? 'Yes' : 'No' }}
                </ng-template>
            </p-column>
            <p-column
                field="time"
                header="Time"
            >
                <ng-template let-col let-data="rowData" pTemplate="body">
                    {{ this.fmtSrv.formatTime(data.time) }}
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</app-filter-page>

