<app-page-header
    pageName="Events"
    [placeholder]=false
>
    <span>
        View and analyze events
    </span>
    <span toolbar>
        <p-checkbox
            binary="true"
            label="Filters"
            [(ngModel)]="showFilter"
        ></p-checkbox>
    </span>
    <span message style="padding: 0px; margin: 0px; border-width: 0px;">
        From {{from}} to {{from + ENTRIES_PER_PAGE}} of {{total}}
    </span>
</app-page-header>

<app-filtered-table
    [colspec]="COLSPEC"
    [fspec]="FSPEC"
    sortField="-time"
    dataType="events"
>
</app-filtered-table>


