.holder {
    background-color: #3a464b86;
    border:  1px solid #2a333686;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.resettter {
    float: right;
}

.modifier {
    float: right;
}
