<div *ngIf="auth.isLoggedIn()" class="spw-no-pad app">
    <app-header
        (onTrigger)="onHeaderTrigger()"
    >
    </app-header>
    <div class="ui-g spw-fill-height spw-no-pad">
        <div
            class="spw-sidebar"
            [ngClass]="{'ui-g-3': sidebarShown}"
            [hidden]="!sidebarShown">
            <app-sidebar></app-sidebar>
        </div>
        <div
            class="spw-content"
            [ngClass]="{'ui-g-9': sidebarShown,
                        'ui-g-12': !sidebarShown}">
            Content
        </div>
    </div>
</div>

<div *ngIf="!auth.isLoggedIn()" class="spw-no-pad app">
    <app-login></app-login>
</div>
