<div class="display: flex; flex-direction: column;">
<div style="flex-shrink: 0; overflow: auto">
<div *ngFor="let d of desc" [ngSwitch]="d.type">

    <!-- For Single select -->
    <p-panel
        [header]="d.name"
        *ngSwitchCase="'value'"
        [toggleable]=true
    >
        <p-multiSelect
            [options]="toSelectItems(d.data)"
            [style]="{'width': '100%'}"
            defaultLabel="Select {{d.name}}"
            (onChange)="valueChanged(d.field, $event.value)"
        >
        </p-multiSelect>
    </p-panel>

    <!-- For Multiselect -->
    <p-panel
        [header]="d.name"
        *ngSwitchCase="'array'"
        [toggleable]=true
        [collapsed]=true
    >
        <p-inputSwitch
            #sw
            onLabel="OR"
            offLabel="AND"
            [style]="{'float': 'left'}"
            (onChange)="matcherChanged(d.field, sw.checked,  lb.value)"
        ></p-inputSwitch>
        <label
            style="padding-left: 5px"
        >
            the selected Items
        </label>
        <p-listbox
            #lb
            [options]="toSelectItems(d.data)"
            [style]="{'width': '100%'}"
            [listStyle]="{'height':'120px', 'width': '100%'}"
            [multiple]=true
            [checkbox]=true
            [filter]=true
            (onChange)="matcherChanged(d.field, sw.checked,  $event.value)"
        ></p-listbox>
    </p-panel>
    <!-- For date ranges -->
    <p-panel
        [header]="d.name"
        *ngSwitchCase="'dateRange'"
        [toggleable]=true
    >
        <app-date-range
            (onChange)="dateRangeChanged(d.field, $event)"
        ></app-date-range>
    </p-panel>
    <hr class="hz"/>
</div>
</div>
</div>
