<div *ngFor="let d of _spec" [ngSwitch]="d.type">

    <!-- ===== V A L U E S ====== -->
    <app-holder
        [name]="d.name"
        *ngSwitchCase="'value'"
        [collapsible]="false"
    >
        <p-multiSelect
            [(ngModel)]="_filter[d.field]"
            [options]="values[d.type]"
            [style]="{'width': '100%'}"
            defaultLabel="Select {{d.name}}"
            (onChange)="changed(d.field)"
        >
        </p-multiSelect>
    </app-holder>

    <!-- ===== A R R A Y ====== -->
    <app-holder
        [name]="d.name"
        *ngSwitchCase="'array'"
        [collapsible]="true"
        [collapsed]="true"
    >
        <span ops>
            <p-inputSwitch
                #sw
                [(ngModel)]="_filter[d.field].matchAll"
                onLabel="OR"
                offLabel="AND"
                (onChange)="changed(d.field)"
            ></p-inputSwitch>
        </span>
        <p-listbox
            #lb
            [(ngModel)]="_filter[d.field].fields"
            [options]="values[d.type]"
            [style]="{'width': '100%'}"
            [listStyle]="{'height':'120px', 'width': '100%'}"
            [multiple]="true"
            [checkbox]="true"
            [filter]="true"
            (onChange)="changed(d.field)"
        ></p-listbox>
    </app-holder>

    <!-- ===== D A T E == R A N G E ====== -->
    <app-holder
        [name]="d.name"
        *ngSwitchCase="'dateRange'"
        [collapsible]="true"
        [collapsed]="true"
    >
        <app-date-range
            [(ngModel)]="_filter[d.field]"
            (rangeChange)="changed(d.field)"
        ></app-date-range>
    </app-holder>

    <!-- ===== B O O L E A N ====== -->
    <app-holder
        [name]="d.name"
        *ngSwitchCase="'boolean'"
        [collapsible]="false"
    >
        <p-triStateCheckbox
            #cb
            [(ngModel)]="_filter[d.field]"
            (onChange)="changed(d.field)"
            label="{{d.field}}:
                {{(cb.value === null || cb.value === undefined)
                    ? 'ALL'
                    : cb.value}}"
        ></p-triStateCheckbox>
    </app-holder>

    <!-- ===== S E A R C H ====== -->
    <app-holder
        [name]="d.name"
        *ngSwitchCase="'boolean'"
        [collapsible]="false"
    >
        <span ops>
            <p-inputSwitch
                #sw
                [(ngModel)]="_filter[d.field].matchAll"
                onLabel="OR"
                offLabel="AND"
                (onChange)="changed(d.field)"
            ></p-inputSwitch>
        </span>
        <p-chips
            [(ngModel)]="_filter[d.field]"
        ></p-chips>
    </app-holder>

    <p></p>
</div>
