.page-header {
    /* background-color: #828d9286; */
    background-color: #2a3336;
    color: white;
    padding: 5px;
    border-bottom: 1px solid #2e2e2e;
    /* border-left: 1px inset #2e2e2e2f; */
    border-left: 1px solid #7dffd4;
    height: 25px;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    margin-right: 5px;
    vertical-align: middle;
}

.description {
    color: #9ed6eb;
    font-size: 12px;
}

.page-name {
    font-size: 20x;
    padding-right: 10px;
    padding-left: 10px;
}

.message {
    float: right;
}

.placeholder {
    padding: 10px;
}
