.page-header {
    background-color: #2a333686;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.description {
    color: #9ed6eb;
    font-size: 12px;
}

.page-name {
    font-size: 20x;
    padding-right: 30px;
}

