<div class="page-header">

    <span class="page-name" style="padding-top: 5px; font-size: 16px;">
        <i [ngClass]="icon" aria-hidden="true"></i> &nbsp;
        <label style="padding-right: 20px" >
            {{pageName}}
        </label>
    </span>
    <span class="description">
        <!-- <ng-content></ng-content> -->
        <ng-content select="[toolbar]"></ng-content>
    </span>
    <span class="message">
        <ng-content select="[message]"></ng-content>
    </span>
</div>
<div *ngIf="placeholder">
    <span class="placeholder">
        This page is under construction!
    </span>
</div>
