.page-header {
    /* background-color: #2a3336; */
    background-image: linear-gradient(to right,
        #2a3336,
        #2a3336a4);
    color: white;
    padding: 5px;
    /* border-bottom: 1px solid #7dffd42f; */
    height: 27px;
    padding-right: 25px;
    vertical-align: middle;
}

.description {
    color: #9ed6eb;
    font-size: 12px;
}

.page-name {
    font-size: 20x;
    padding-right: 10px;
    padding-left: 10px;
}

.message {
    float: right;
}

.placeholder {
    padding: 10px;
}
