.filter {
    padding-left: 8px;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.content {
    /* background-color: blue; */
    /* height: 100%; */
    border-radius: 4px;
    color: #7c7c7c;
    border-color: #a81313;
    padding-left: 8px;
}
