<table class="ucp"><tbody>
    <form #f="ngForm" (ngSubmit)="onFormSubmit(f)" autocomplete="false">
        <tr>
            <td>ID*</td>
            <td>
                <input
                    [disabled]='true'
                    class="form-control input-text"
                    pInputText
                    [value]="userID"
                >
            </td>
        </tr>
        <tr>
            <td>Password*</td>
            <td>
                <input
                    required
                    class="form-control input-text"
                    pInputText
                    type="password"
                    name="password"
                    ngModel
                    new-password
                >
            </td>
        </tr>
        <tr>
            <td>Confirm Password*</td>
            <td>
                <input
                    required
                    class="form-control input-text"
                    pInputText
                    type="password"
                    name="confirm"
                    ngModel
                    autocomplete="false"
                >
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button
                    [disabled]="f.invalid
                        || (isMode('register') && !passwordValid(f))"
                    pButton
                    submit
                    style="float: right;"
                    type="submit"
                    label="Submit"
                >
                </button>
            </td>
        </tr>
    </form>
</tbody></table>
