<app-page-header
    pageName="Prices"
    [placeholder]="false"
    icon="fa fa-money"
>
    List of entities
    <span toolbar>
        <span style="padding-right: 15px">
            <p-checkbox
                binary="true"
                label="Filters"
                [(ngModel)]="showFilter"
            ></p-checkbox>
        </span>
        <button pButton
            label="Refresh"
            icon = "fa-refresh"
            (click)="ftable?.refreshAll()"
        >
        </button>
    </span>
</app-page-header>
<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-6">
        Commodity: 
        <p-dropdown
            [filter]="true"
            [autoWidth]="false"
            [style]="{'width': '80%'}"
            [options]="commodities"
            [(ngModel)]="dataType"
        ></p-dropdown>
    </div>

</div>
<app-filtered-table
    [colspec]="COLSPEC"
    [fspec]="FSPEC"
    [showFilter]="showFilter"
    sortField="-date"
    [dataType]="dataType"
>
    <app-chart-table></app-chart-table>
</app-filtered-table>