
<table id="tab">
<tbody>
    <form [formGroup]="form" (ngSubmit)="onCreate(form)">
        <tr>
            <td style="width: 100px">Name</td>
            <td style="width: 400px">
                <input
                    style="width: 100%"
                    pInputText
                    class="form-control input-text"
                    type="text"
                    formControlName="name"
                >
            </td>
        </tr>
        <tr>
            <td style="width: 100px">Type</td>
            <td style="width: 400px">
                <input
                    pInputText
                    style="width: 100%"
                    class="form-control input-text"
                    type="text"
                    formControlName="type"
                >
            </td>
        </tr>
        <tr>
            <td style="width: 100px">Location</td>
            <td style="width: 400px">
                <input
                    pInputText
                    style="width: 100%"
                    class="form-control input-text"
                    type="text"
                    formControlName="location"
                >
            </td>
        </tr>
        <tr>
            <td style="width: 100px"></td>
            <td style="width: 400px">
                <button
                    [disabled]="form.invalid"
                    pButton
                    submit
                    style="float: right;"
                    type="submit"
                    label="Submit"
                >
                </button>
            </td>
        </tr>
    </form>
</tbody></table>
