<table><tbody>
    <tr>
        <td>
            From
        </td>
        <td>
            <p-calendar
                [(ngModel)]="from"
                [minDate]="min"
                [maxDate]="to"
                (onSelect)="changed()"
            ></p-calendar>
        </td>
    </tr>
    <tr>
        <td>
            To
        </td>
        <td>
            <p-calendar
                [(ngModel)]="to"
                [minDate]="from"
                [maxDate]="max"
                (onSelect)="changed()"
            ></p-calendar>
        </td>
    </tr>
</tbody></table>
