<table style="width: 100%">
    <tbody style="width: 100%">
        <tr style="width: 100%">
            <td>
                From
            </td>
            <td>
                <p-calendar
                    [(ngModel)]="range.from"
                    [minDate]="min"
                    [maxDate]="range.to"
                    (onSelect)="changed()"
                    [inputStyle]="{'width': '100%'}"
                    [style]="{'width': '100%'}"
                ></p-calendar>
            </td>
        </tr>
        <tr style="width: 100%">
            <td>
                To
            </td>
            <td style="width: 100%">
                <p-calendar
                    [(ngModel)]="range.to"
                    [minDate]="range.from"
                    [maxDate]="max"
                    (onSelect)="changed()"
                    [inputStyle]="{'width': '100%'}"
                    [style]="{'width': '100%'}"
                ></p-calendar>
            </td>
        </tr>
    </tbody>
</table>
