<table><tbody>
    <tr>
        <td>
            From
        </td>
        <td>
            <p-calendar
                [(ngModel)]="range.from"
                [minDate]="min"
                [maxDate]="range.to"
                (onSelect)="changed()"
            ></p-calendar>
        </td>
    </tr>
    <tr>
        <td>
            To
        </td>
        <td>
            <p-calendar
                [(ngModel)]="range.to"
                [minDate]="range.from"
                [maxDate]="max"
                (onSelect)="changed()"
            ></p-calendar>
        </td>
    </tr>
</tbody></table>
