#parent {
    padding: 7% 0;
    height: 100%;
    /* background-color: #2a4047; */
    overflow: hidden;
}

.child {
    padding: 3% 0;
    width: 100%;
    padding-left: 40%;
}

.content {
    background-color:#2a3336;
    /* background-color:#575757; */
}

.banner {
    font-size: 86px;
    /* color: #d6cfcf; */
    color: #7dffd4;
    font-family: 'Lobster', cursive;
}

.error {
    color: #ec9590;
}
