#parent {
    /* padding-left: 7% 0; */
    /* height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    overflow: hidden; */
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    color: #d6cfcf;
    overflow: hidden;
    border: 1px solid #2a333686;
    border-bottom: 1px solid #7dffd465;
        font-size: 36px;
    font-family: 'Lobster', cursive;
    /* color: #7dffd4; */
    color: white;
    font-weight: normal;
    /* width: 100%; */
    text-align: center;
}

.child {
    /* padding: 3% 0; */
    /* width: 100%; */
    padding-top: 15%;
    padding-left: 43%;
    text-align: center;
}

.content {
}

.error {
    color: #ec9590;
}
