<app-filter-page [filterVisible]="showFilter">
    <div filter>
        <app-filter
            [spec]="fspec"
            (onChange)="filterChanged($event)"
            dataType="users"
        ></app-filter>
    </div>
    <div content>
        <p-paginator
            [rows]="perPage"
            [totalRecords]=total
            [pageLinkSize]="5"
            (onPageChange)="paginate($event)"
            ></p-paginator>
        <app-table
            [selectionMode]="selectionMode"
            ([selection])="selection"
            [key]="key"
            (selectionChange)="onSelect()"
            [specs]="colspec"
            [items]="items"
        ></app-table>
    </div>
</app-filter-page>
