/* You can add global styles to this file, and also import other style files */

@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/themes/cruze/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
/* @import url('https://fonts.googleapis.com/css?family=Titillium+Web'); */
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Monda');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: 'Monda', sans-serif !important;
    font-size: 12px;
    /* background-color: #7c7c7c; */
    background-color: #242424;
    /* overflow: hidden; */
}

html{
    /* padding: 2px; */
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.ui-widget {
    font-family: 'Monda', sans-serif;
}

.spw-red {
    background-color: red;
}

/* .ui-widget-content{
    background-color: white;
    border: none;
    color:red;
} */

.spw-green{
    background-color: green;
}

.spw-yellow{
    background-color: yellow;
}

.spw-no-pad{
    margin: 0px !important;
    padding: 0px !important;
    border-width: 0px !important;
}

.spw-content {
    /* height: 50%; */
    /* background-color: #7c7c7c; */
    padding: 0px;
    margin: 0px;
    color: #d6cfcf;
}

.spw-fill-height {
    height: 100%;
}

.spw-sidebar {
    height: 100%;
    /* background-color: #2d3e46; */
    /* background-color: #2a4047; */
    /* margin: 0px;
    padding: 0px;
    border-width: 0px; */
    /* background-color: #6e6b6b; */
    /* padding-left: 10px; */
    /* padding-top: 4px; */
    /* padding-right: 0; */
    padding-top: 2px;
    /* padding-top: 0; */
    background-color: #2a3336;
    color: #d6cfcf;
}

/* Growl */
.ui-growl-item-container.ui-state-highlight.ui-growl-message-info {
    background-color: #176097;
    border-color: #176097;
    color: white;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-error {
    background-color: #ca3333b6;
    border-color: #ca3333c0;
    color: white;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-warn {
    background-color: rgba(163, 112, 1, 0.781);
    border-color: rgba(163, 112, 1, 0.719);
    color: white;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-success {
    background-color: rgba(33, 114, 34, 0.815);
    border-color: rgba(33, 114, 34, 0.651);
    color: white;
}

.ui-panelmenu-header {
    /* background-color: #243b46; */
    background-color: #2a3336;
}

.form-control {
    border: 2px solid transparent;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid rgba(255, 0, 0, 0.555);
}

.monospace {
    font-family: 'Source Code Pro', monospace !important;
}

.ui-select-button > .ui-state-focus {
    background-color: red;
}


/* .ui-dropdown {
    background-color: red;
    border-color: blue;
    padding: 0px;
    margin: 0px;
}
.ui-dropdown-panel {
    background-color: red;
    border-color: blue;
} */

.ui-state-focus {
    border-color: #2e2e2e;
    background: #0099e0;
    color: #ffffff; 
}
.ui-state-focus a {
      color: #ffffff; 
}